

<div class="top_division">マイショップ</div>
<br />

<%= render '/shops/partials/search_form_mobile' %>
<%= render '/shops/partials/shops_mobile' %>
<%= render '/shops/partials/shops_not_found_mobile' %>

