<div class="fields sub_field"">
  <%= f.text_field :content, :size => "35" %>
  <%= f.hidden_field :_destroy %>
    <span class="remove">
      <%= link_to_remove_open_hour_field "削除", f %>
    </span>
</div>

