<% if @shops.count != 0 %>
  <div id="searchnotfound" style="display: none;">
<% else %>
  <div id="searchnotfound" style="display: block;">
<% end %>
    <% if @shops_search == true %>
      <div class="error_message">
        ご指定のキーワードにマッチするショップはありませんでした。「確認」ボタンを押すとマイショップ画面へ戻ります。
      </div>
			<br />
			<center>
			  <%= link_to "確認", shops_path %>
			</center>
    <% else %>
      <div class="error_message">
        フォロー中のショップは存在していません。ショップをフォローしてクーポンをGETしましょう！
      </div>
			<br />
      <center>
				<%= link_to "ショップ検索へ", shops_search_form_path %>
			</center>
    <% end %>
  </div>

