

<div class="top_division">マイクーポン</div>
<br />

<%= render '/coupons/partials/search_form_mobile' %>
<%= render '/coupons/partials/coupons_mobile' %>
<%= render '/coupons/partials/coupons_not_found_mobile' %>

