<form action="/masters_search" method='get', id="search_bar">
  <fieldset class="part">
    <h2>マスター数： <%= @masters.count %></h2>
    <div class="field">
      <label>
        <%= link_to "すべてのマスターを表示", masters_path %>
          <span class="separator"> | </span>
          メールアドレスで検索
      </label>
      <%= text_field_tag :keywords, params[:keywords], :class => "text" %>
    </div>
  </fieldset>
</form>

