
<div id="catalog">
  <a href='/coupons/new' id='create_coupon' class="new_item" >
    <span class="name"></span>
  </a>
  <a href='/shops/new' id='create_shop' class="new_item" >
    <span class="name"></span>
  </a>
</dif>

