<form action="/coupons_search" method='get', id="search_bar">
  <fieldset class="part">
    <h2>クーポン数： <%= @coupons.count %></h2>
    <div class="field">
      <label>
        <%= link_to "すべてのクーポンを表示", coupons_path %>
          <span class="separator"> | </span>
          クーポン名で検索
      </label>
			<%= text_field_tag :keywords, params[:keywords], :class => "text", :size => "40" %>
    </div>
  </fieldset>
</form>

