
<div class="records">
  <% flash.each do |key, value| %>
    <div class="notice">
      <h3><%= value %></h3>
    </div>
  <% end %>
  <div class="panel">
    <div class="panel-body">
      <%= render '/coupon_analysis_records/partials/search_form' %>
      <%= render '/coupon_analysis_records/partials/records' %>
      <%= render '/coupon_analysis_records/partials/records_not_found' %>
    </div>
  </div>
</div>

